Pygments==2.13.0
asttokens==2.1.0
autopep8==2.0.0
backcall==0.2.0
bitstring==3.1.9
cffi==1.15.1
colorama==0.4.6
cryptography==38.0.3
decorator==5.1.1
ecdsa==0.18.0
esptool==4.3
executing==1.2.0
ipython==8.6.0
jedi==0.18.2
matplotlib-inline==0.1.6
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.33
pure-eval==0.2.2
pycodestyle==2.9.1
pycparser==2.21
pyreadline==2.1
pyserial==3.5
pyudev==0.24.0
reedsolo==1.5.4
rshell==0.0.31
six==1.16.0
stack-data==0.6.1
tomli==2.0.1
traitlets==5.5.0
wcwidth==0.2.5
